@import "../sass/type"


// Proxima Nova Black
// font-family: proxima-nova, sans-serif;
// font-weight: 900;
// font-style: normal;

// Proxima Nova Bold
// font-family: proxima-nova, sans-serif;
// font-weight: 700;
// font-style: normal;

// Proxima Nova Thin
// font-family: proxima-nova, sans-serif;
// font-weight: 100;
// font-style: normal;

// Proxima Nova Regular
// font-family: proxima-nova, sans-serif;
// font-weight: 400;
// font-style: normal;

// Proxima Nova Italic
// font-family: proxima-nova, sans-serif;
// font-weight: 400;
// font-style: italic;

body
  font-family: proxima-nova, sans-serif
  font-weight: 400
  font-style: normal
  background: #f4f4f4;

strong
  font-weight: 700;

small
  font-size: 0.75em;

h2
  font-size: 2em
  font-weight: 900
  margin-bottom: 20px;



